@using Westwind.Web
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    @RenderSection("headerstop", false)

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="~/Css/Westwind.css" rel="stylesheet" type="text/css"/>
    <link href="~/Css/CodePaste.css" rel="stylesheet" type="text/css"/>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" async>
    
    @Html.Raw(ScriptLoader.jQueryLink())
    @Html.Raw(ScriptLoader.wwJqueryLink())

    <link id="RssLink" rel="alternate" type="application/rss+xml" title="CodePaste.NET Recent Snippets" href="httpd://codepaste.net/feed"/>

    @RenderSection("headers", false)
</head>
<body>

    <div id="divBodyWrapper">
        &nbsp;
        <div id="imgBanner" onclick="location = '@Url.Content("~/")';" >
            <img src="~/images/codepastebanner.png" alt="CodePaste Logo"
                 style="position: absolute; left: 0px; top: 0px;float: left; width: 300px;" />
        </div>

        <div id="divHeaderBar">
            <div id="divSearchBox" style="float:right; margin-right: 10px;font-size: 0.8em;"  class="hidable">
                @*<a href="http://feeds.feedburner.com/codepaste" class="hoverbutton"><img src="~/images/rss.png" /> Subscribe</a>*@
                <a href="~/home/about" class="hoverbutton"><img src="~/images/info.png"/> About</a>
            </div>
            <a href="~/" class="hoverbutton"><img src="~/images/newsnippet.png" alt="New Snippet" /> New</a>
            <a href="~/recent" class="hoverbutton"><img src="~/images/recent.png" alt="Recent Snippets"/> Recent <span class="hidable">Snippets</span></a>
            <a href="~/mysnippets" class="hoverbutton"><img src="~/images/clipboard.png" alt="My Snippets" /> My <span class="hidable">Snippets</span></a>
            <a href="~/myfavorites" class="hoverbutton hidable"><img src="~/images/favorite.png" alt="My Favorites" /> Favorites</a>
            <a href="~/ShowUrl" class="hoverbutton hidable"><img src="~/images/originalurl.png" /> Web Code</a>
            <a href="~/search" class="hoverbutton"><img src="~/images/search.png" alt="Search Snippets" /> Search</a>
        </div>

        <div class="logindisplay">
            @Html.Partial("~/views/shared/SignInUserControl.cshtml")
        </div>

        <div id="maincontainer">
            
                <div id="divContainerContent">
                    @RenderBody()
                </div>

                <div id="divSidebar">
                    @Html.Partial("~/views/shared/SideBarContent.cshtml")
                </div>            
        </div>
    </div>


    <div class="footer" style="line-height: 1.75em; font-size: small;">
        <div style="float: right; text-align: right;">
            &copy; <a href="http://www.west-wind.com/" style="text-decoration:none;color: White;">West Wind Technologies</a>, 2009-@DateTime.Now.Year
            <img src="~/Images/wwToolbarLogo.png" style="width: 130px; display: block; float: right;margin-top: 5px;" />
        </div>

        <a href="~/docs" target="_blank">Developer Documentation</a> |
        <a href="~/services/CodePasteSoapService.asmx">Web Service</a> |
        <a href="//codepaste.net/docs?page=_2py10t5gl.htm" target="_blank">HTTP API</a>
        <br />
        <a href="https://support.west-wind.com?Forum=codepaste.net">Questions or Comments?</a>
        <br />
        <a href="~/home/whatsnew">CodePaste Recent News</a>


    </div>

    @*<script>
            $(document).ready(function () {
                $.getJSON("https://www.west-wind.com/weblog/weblogcallbacks.ashx?method=GetRandomBookImage&jsonp=?",
                          function (amazonItem) {
                              $img = $("#imgAmazonImage")
                                    .attr("src", amazonItem.AmazonImageUrl);
                              $("#aAmazonImage")
                                    .attr("href", amazonItem.AmazonItemUrl);
                              showStatus(img);
                          });
            });
        </script>*@

    @RenderSection("scripts", false)

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-9492219-2");
            pageTracker._trackPageview();
        } catch (err) { }
    </script>

</body>
</html>



